<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kursovaya">

    <application
        android:allowBackup="true"
        android:icon="@drawable/bear"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kursovaya">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Menu"
            android:screenOrientation="portrait"/>
        <activity android:name=".Contacts"
            android:screenOrientation="portrait"/>
        <activity android:name=".Centr"
            android:screenOrientation="portrait"/>
        <activity android:name=".Sevz"
            android:screenOrientation="portrait"/>
        <activity android:name=".Sevk"
            android:screenOrientation="portrait"/>
        <activity android:name=".Yuzh"
            android:screenOrientation="portrait"/>
        <activity android:name=".Priv"
            android:screenOrientation="portrait"/>
        <activity android:name=".Ural"
            android:screenOrientation="portrait"/>
        <activity android:name=".Sibir"
            android:screenOrientation="portrait"/>
        <activity android:name=".Daln"
            android:screenOrientation="portrait"/>
        <activity android:name=".Izm"
            android:screenOrientation="portrait"/>
        <activity android:name=".Admin"
            android:screenOrientation="portrait"/>
    </application>

</manifest>